.tile {
    height: 20px;
    width: 20px;
    background: lightgray;
    float: left;
    border-style: outset;
    border-width: 2px;
    line-height: 20px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

div{
    display: block;
}

.row {
    margin-left: 255px;
    width: 250px;
}

.explored{
    border-style: inset;
}

h1{
    text-align: center;
}

h3{
    display: block;
}