.overlay{
    background-color: rgba($color: white, $alpha: 0.8);
    // width: 100%;
    position: absolute;
    width: 100vw;
    left: calc(-50vw + 50%);
    z-index: 2;
    // top: 0;
    // bottom: 0;
    height: 500px;
}


.search-button-wrapper {
    z-index: 3;
}

.search-button-input {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 2px solid royalblue;
}


.close {
    display: flex;
    justify-content: right;
    padding: 5px;
    border: 2px solid magenta;
}