<section class='main-content'>
    <ul class='left-side col'>
        <h1>Launching the New React/Redux Curriculum</h1>
        <h2 class='gray-text'>By APP ACADEMY INSTRUCTIONAL TEAM</h2>
        <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
        <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
        <a>1738 Comments</a>
    </ul>
        
    <ul class='middle col'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <div> Warning: This video will make you want to change your career</div>
        <h1>Where Are They Now?</h1>
        <h2 class='gray-text'>By APP ACADEMY ALUMNI</h2>
        <div>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</div>
        <h1>Cat Academy</h1>
        <h2 class='gray-text'>By APP ACADEMY DIRECTOR OF PRODUCTS</h2>
        <div>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</div>
    </ul>

    <ul class='right-side col'>
        <h2>The Opinion Pages</h2>
        <ul class='inner-right'>
            <ul class='right-right'>
                <div>Op-Ed Contributor</div>
                <h1>Will Javascript ever be as easy as Ruby?</h1>
                <div>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</div>
                <li>Torvalds: When I Was Almost Wrong</li>
                <li>Knuth: Art of Programming</li>
                <li>Lovelace: The First Algorithm</li>
                <li>Hopper: The First Bug</li>
                <li>Thompson: Go C Unix</li>
                <li>Carmack: My Virtual Reality</li>
                <li>Stallman: Free Speech Not Free Coffee</li>
                <div>Operations</div>
            </ul>
            <ul class='right-left'>
                <h1>App Academy New York Has A Brand New Office</h1>
                <h2 id='givemeauthority' class='gray-text'>By NY OPERATIONS</h2>
                <div>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</div>
                <img src='/assets/new_office.jpg'>
                <h2>Opinion Today, in your Inbox</h2>
                <div>Each weekday, get though-provoking commentary from our columnists and contributors.</div>
            </ul>
        </ul>

        <input type="text" value='Get the Opinion newsletter by email'>
        <button type='submit'>Sign up</button>
        <a>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</a>
    </ul>
    <section id="overlay" class="overlay hidden"></section>
</section>