<header class='masthead'>
    <span class='language-nav'>
        <ul>
            <a href="missing_link">css</a>
            <a href="missing_link">HTML</a>
            <a href="missing_link">JAVASCRIPT</a>
            <a href="missing_link">RUBY</a>
        </ul>
    </span>

    <span class='logo'>
        <ul>
            <img src="/assets/AA_Times_Logo.png" alt='link broken'>
        </ul>
    </span>

    <span class='masthead-links'>
        <ul>
            <time>Tuesday, Ocatober 18, 2016</time>
        </ul>
        
        <ul>
            <a><i class="far fa-newspaper"></i><button> Today's Paper</button></a>
        </ul>
        <ul>
            <a><i class="fas fa-video"></i><button> Video</button></a>
        </ul>
            
        <ul><a>77°F</a></ul>

        <ul><a>AAO <strong>+100%</strong></a></ul>
    </span>

</header>