<section id='search-modal'class='search-button-wrapper'>
    <section class='search-button-input'>
        <input type="text" placeholder='Search..'>
        <button>Go</button>
        <button class='close'>X</button>
    </section>
</section>
