<ul id='sections-sidebar' class='sections-sidebar expand'>
    <li>
        <ul class='all-sections'>
            <span class='dropdown-subtitle'>Section</span>
            <li><a>World</a></li>
            <li class='all-subsections'><a>San Francisco</a>
                <ul>
                    <span class='dropdown-subtitle'>San Francisco</span>
                    <li>Students</li>
                    <li>Teaching Assistants</li>
                    <li>Instructors</li>
                    <li>Career Advisors</li>
                    <li>Cats</li>
                </ul>
            </li>
            <li><a>New York</a></li>
            <li class='all-subsections'><a>Bootcamp Prep</a>
                <ul>
                    <span class='dropdown-subtitle'>Bootcamp Prep</span>
                    <li>Students</li>
                    <li>Instructors</li>
                    <li>Cats</li>
                </ul>
            </li>
            <li><a>Jumpstart</a></li>
            <li class='all-subsections'><a>Online</a>
                <ul>
                    <span class='dropdown-subtitle'>Online</span>
                    <li>Immersive</li>
                    <li>Bootcamp Prep</li>
                    <li>Cats</li>
                </ul>
            </li>
            <li class='all-subsections'><a>Sales</a>
                <ul>
                    <span class='dropdown-subtitle'>Sales</span>
                    <li>Sales</li>
                    <li>Analytics</li>
                    <li>Cats</li>
                </ul>
            </li>
            <li><a>TalentMatch</a></li>
            <li class='all-subsections'><a>Alumni</a>
                <ul>
                    <span class='dropdown-subtitle'>Alumni</span>
                    <li>Students</li>
                    <li>Companies</li>
                    <li>Opinions</li>
                    <li>Cats</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

            